<link rel="stylesheet" href="app.component.css">

<style>  

</style>

<head>
  <meta charset="utf-8">
  <title>Weather</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<main class="main">
  <div class="header_container">
    <div class="header">
      <h1>What is the {{ title }} like?</h1>
    </div>
  </div>
  <div class="content">
    <div class="weather_container">
      <p>Enter location: </p>
      <textarea placeholder="London"></textarea>
    </div>
  </div>
</main>

<router-outlet />
